!.vscode/extensions.json
.DS_Store
.eslintrc.cjs
.idea
.prettierrc
.storybook
.vscode/*
*.local
*.log
*.njsproj
*.ntvs*
*.sln
*.suo
*.sw?
*storybook.log
dist
dist-ssr
lerna-debug.log*
logs
node_modules
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
.vite/* # Vite cache
.storybook-out/* # Storybook build output, if different from dist or dist-ssr
.tailwindcss/* # Tailwind CSS JIT cache